@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
     position: sticky;
     
}
body{
    line-height: 1.6;
    position: sticky;
    
}
h1{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 40px 0px 60px 0px;
    position: sticky;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 60px;
    position: sticky;
}
#search-input{
    width: 60%;
    max-width: 400px;
    padding: 10px 20px;
    border: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
    border-radius: 5px;
    font-size: 18px;
    color:#333;
    position: sticky;
}
#search-button{
    padding: 10px 20px;
    background-color: #138065;
    color: #fff;
    border: none;
    font-size: 18px;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
cursor: pointer;
border-radius: 5px;
margin-left: 10px;
position: sticky;
}
 .search-resulets{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    position: sticky;
} 
.search-resulet{
    margin-bottom: 60px;
    width: 30%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
   overflow: hidden;
   position: sticky;
}
.search-resulet img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: opacity 0.2s ease-in-out;
    position: sticky;
}
.search-resulet:hover img{
opacity: 0.8;
}
.search-resulet  a{
    font-size: 20px;
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    text-transform: capitalize;
    text-align: center;
    position: sticky;
}  
#show-more-button{
    background-color: #008cba;
    font-size: 18px;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    margin: 30px auto;
    display: block;
     display: none; 
    cursor: pointer;
    position: sticky;
}
@media screen and (max-width:768px) {
    .search-resulets{
        padding: 20px;
    } 
    .search-resulet{
        width: 45%;

    }
    
}
@media screen and (max-width:480px) { 
    .search-resulets{
        padding: 20px;
    }
    .search-resulet{
        width: 100%;

    }
    
}


